
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-cuidados {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 70px 50px 300px 300px 50px;
    grid-template-columns: 300px 300px;
    grid-gap: 25px 8px;

}

.todo-menu {
    grid-row: 1;
    grid-column: 1/5;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.todo-title {
    grid-row: 2;
    grid-column: 1/5;
}

.todo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-card-cima {
    grid-row: 3;
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-card-baixo {
    grid-row: 4;
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-internos {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% auto;
    grid-gap: 5px 38px;
    margin: 2px;
    margin-right: 2px;

}

.cards-internos #primeira-linha-esquerda {

    grid-row: 1;
    grid-column: 1;

}

.cards-internos #primeira-linha-direita {
    grid-row: 1;
    grid-column: 2;

}

.cards-internos-segunda {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 50%;
    grid-gap: 5px 8px;
    margin: 2px;
    margin-right: 2px;

}

.cards-internos-segunda #segunda-linha-esquerda {

    grid-row: 1;
    grid-column: 1;

    margin-left: 20px;
    margin-right: 50px;

}

.cards-internos-segunda #segunda-linha-direita {

    grid-row: 1;
    grid-column: 2;

}

.text-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.text-card {
    border: 1px solid rgba(53, 72, 79, 0.28);
    box-shadow: 0px 4px 4px #35484F;
    border-radius: 15px;

    width: 500px;
    height: 300px;
}

.text-card {
    overflow: auto;

}

.text-card h2, .text-card h3, .text-card h4, .text-card li {
    margin-top: 12px;
    margin-bottom: 12px;
    margin: 1px 100px;
}

.text-card p {
    width: 310px;
    text-align: center;
    letter-spacing: 0.06em;
    font-style: normal;
    line-height: 22px;
    font-size: 10px;
    text-align: left;
}

.text-card h3, .text-card h4,.text-card li {
    font-size: 10px;
}

.todo-footer {
    background: blueviolet;
    grid-row: 5;
    grid-column: 1/5;
}
